<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Foo-team</title>
        <meta name="description" content="Foo-team">
        <meta name="author" content="Konrad Cielecki">
        <link rel="stylesheet" href="/foo/styles.css">
    </head>
    <body>
        <div id="app">
            <%- html %>
        </div>
        <script src="/foo/bundle.js"></script>
        <script src="/bar/bundle.js"></script>
    </body>
</html>